<ion-content padding style="background-color:#BE2C2C">
    <img style="width: 50%;margin-top: 35%;margin-left: 25%;" src="assets/img/logo.png">

    <input type="text" [(ngModel)]="email" placeholder=" Your email here.">
    <input type="password" [(ngModel)]="password" placeholder=" Your password here." style="margin-top:5%">
    <button ion-button large block style="margin-top: 10%;background-color:#fff;color:#BE2C2C" (click)="login()" [disabled]="loading">Login</button>
    <button ion-button large block style="background-color:#fff;color:#BE2C2C" [navPush]="signpage">Sign</button>

</ion-content>
