
.space{
  margin-top: 10px;
}
input{
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    width: 100%;
    height: 40px;
    border: 1px solid #fafafa;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
