<ion-header>
  <ion-navbar color="skip">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="ligth"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="cart">
        <ion-icon name="cart" color="red"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="body">


  <ion-card  *ngFor="let item of listStore" (click)="select(item)" style="border-radius: 15px;">
    <img src="assets/img/logo.png" class="logo">
    <ion-card-content style="float:left;width: 70%;">
      <ion-card-title style="font-size: 140%;">
        {{item.name}}
      </ion-card-title>
      <p>
        {{item.address}}
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
