<ion-header>
  <ion-navbar color="skip">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="ligth"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="body">
  <div *ngIf="listOrders.length == 0" style="font-weight:bold;margin-left: 10%;color: #BE2C2C;margin-left: 10%;margin-top: 5%;">
    You don't have orders.
  </div>
</ion-content>
