<ion-header>
  <ion-navbar color="skip">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="ligth"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color:#BE2C2C">

  <img style="width: 50%;margin-top: 5%;margin-left: 25%;" src="assets/img/logo.png">

  <input type="email" [(ngModel)]="email" placeholder=" Your email here.">
  <input type="text" [(ngModel)]="name" placeholder=" Your name here." style="margin-top:5%">
  <input type="text" [(ngModel)]="address" placeholder=" Your address here." style="margin-top:5%">
  <input type="password" [(ngModel)]="password" placeholder=" Your password here." style="margin-top:5%">

  <button ion-button large block style="margin-top: 10%;background-color:#fff;color:#BE2C2C" (click)="signUser()" [disabled]="loading">Create user</button>

</ion-content>
