<ion-header>
  <ion-navbar color="skip">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="ligth"></ion-icon>
    </button>
    <ion-buttons end style="color:#fff;font-weight:bold">
      Total value: {{value | currency}}
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="body">
  <ion-list *ngIf="listCard.length > 0">
    <ion-item-sliding *ngFor="let item of listCard">
      <ion-item>
        <p>{{item.name}}</p>
        <p style="text-align: justify;">
          {{item.description}}
        </p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(item)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div *ngIf="listCard.length == 0" style="font-weight:bold;margin-left: 10%;color: #BE2C2C;margin-left: 10%;margin-top: 5%;">
    You don't selected products.
  </div>

  <ion-fab right bottom *ngIf="listCard.length > 0">
    <button ion-fab style="background-color:#BE2C2C" (click)="presentConfirm()">Buy</button>
  </ion-fab>

</ion-content>
