<ion-header>
  <ion-navbar color="skip">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="ligth"></ion-icon>
    </button>
    <ion-searchbar
        [(ngModel)]="search"
        [showCancelButton]="false"
        (ionInput)="getFilter($event)"
        placeholder="Search here ..."
      >
      </ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="cart">
        <ion-icon name="cart" color="red"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card  *ngFor="let item of listCousine" (click)="select(item)" style="border-radius: 15px;">
      <ion-card-content style="float:left;width: 70%;">
        <ion-card-title style="font-size: 140%;">
          {{item.name}}
        </ion-card-title>
      </ion-card-content>
    </ion-card>

</ion-content>
