
<ion-menu [content]="content">

  <ion-content class="bodyMenu">
    <div>
      <ion-avatar item-start>
        <img style="width:100px;height:100px;margin-left: 7.4em;margin-top: 10%;border-radius: 40%;" src="assets/img/logo.png">
      </ion-avatar>
    </div>

    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)" style="background-color: transparent;color:#fff">
        <ion-icon name="{{p.icon}}" color="ligth"></ion-icon>  {{p.title}}
      </button>
    </ion-list>

  </ion-content>

  <span class="menuFood"> SkipTheDishes 2018 </span>

</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
