<ion-header>
  <ion-navbar color="skip">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="ligth"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="cart">
        <ion-icon name="cart" color="red"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="body">


    <ion-card *ngFor="let i of listProducts" (click)="selectProduct(i)" style="border-radius: 15px;">
      <ion-card-content style="float:left;width: 70%;">
        <ion-card-title style="font-size: 140%;">
          {{i.name}}
        </ion-card-title>
        <p style="text-align: justify;">
          {{i.description}}
        </p>
      </ion-card-content>
      <button ion-button color="skip" style="position: absolute;color:#fff;" item-end>{{i.price | currency:'CAD':true }}</button>

    </ion-card>

</ion-content>
